* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: beige;
}

h1 {
    text-shadow: black 1px 1px 2px;
}

h2 {
    text-decoration: underline;
}

h3 {
    color: brown;
}

img {
    margin: 5px;
}

.inline {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}